@mixin circle {
    &::before {
        content: "";
        position: absolute;
        width: 36px;
        height: 36px;
        background-color: $orange;
        border-radius: 100%;
        z-index: -1;
        top: -25%;
        left: 0;
    }
}

@mixin slash {
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 0px;
        border: 3px solid $orange;
        border-bottom: none;
        
    }

}
@mixin slash_center {
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 0px;
        border: 3px solid $orange;
        border-bottom: none;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 25px;
        
    }

}